{% extends 'base.html' %}

{% block content %}

<!--===================================-->
            {% if message %}

            <div class="alert alert-danger" role="alert">
                <a href="{{current_path}}" class="text-danger">{{message}}</a>

            </div>

            {% endif %}



<!--=============================================================-->


<!-- Bootstrap Select Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Filter Report</h4>

							</div>
						</div>
						<form action="{% url 'myapp:DamageReportView' %}" method="post">{% csrf_token %}
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>From Date</label>
                                        <input type="date" name="fromdate" class="form-control">
									</div>
								</div>
                                <div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>To Date</label>
                                        <input type="date" name="todate" class="form-control">
									</div>
								</div>

							</div>
                            <button
										type="submit"
										class="btn btn-sm"
										data-bgcolor="#00b489"
										data-color="#ffffff"
									>
                                <i class="icon-copy dw dw-filter-1"></i>Filter Report

									</button>

						</form>
					</div>
					<!-- Bootstrap Select End -->

<!-- Export Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Damage List</h4>
    </div>
    <div class="pb-20">
        <table
                class="table hover multiple-select-row data-table-export nowrap"
        >
            <thead>
            <tr class="table-warning">

                <th class="">Item Name</th>
                <th class="">Quantity</th>
                <th class=""> Date</th>
                <th class="">Description</th>
<!--                <th class="">Date</th>-->


            </tr>
            </thead>
            <tbody>
            {% for p in damage_rp %}
            <tr class="table-info">
                <td class="table-plus"><b>{{p.item_name}}</b></td>
                 <td><b>{{p.quantity}}</b></td>
                <td><b>{{p.return_date}}</b></td>
                <td><b>{{p.description}}</b></td>
<!--                <td><b>{{p.expense_date}}</b></td>-->

            </tr>
            {% endfor %}


            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th class="text-danger"></th>
                <th class="text-danger"></th>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!-- Export Datatable End -->

{% endblock content %}

