{% extends 'web/webbase.html' %}
{% load static %}

{% block content %}




    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Checkout</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	

            <div class="row billing-fields">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
                    <div class="create-ac-content bg-light-gray padding-20px-all">
                        <form method="post" action="{% url 'myapp:EcommerceCheckoutOrder' %}">{% csrf_token %}
                            <fieldset>
                                <h2 class="login-title mb-3">လိပ်စာ အချက်အလက်</h2>
                                <div class="row">
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-firstname">အမည် <span class="required-f">*</span></label>
                                        <input name="fname" value="" id="input-firstname" type="text">
                                    </div>
                                    <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                        <label for="input-lastname">ဖုန်းနံပါတ် <span class="required-f">*</span></label>
                                        <input name="phone" value="" id="input-lastname" type="text">
                                    </div>
                                </div>
                                
                            </fieldset>

                            <fieldset>
                                <div class="row">
                                    <div class="form-group col-md-12 col-lg-12 col-xl-12">
                                        <label for="input-company">လိပ်စာ အပြည့်အစုံ <span class="required-f">*</span></label>
                                        <textarea class="form-control resize-both" rows="6" name="address"></textarea>
                                    </div>
                                </div>
                                <div class="order-button-payment">
                                    <button class="btn" value="Place order" type="submit">Place order</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="your-order-payment">
                        <div class="your-order">
                            <h2 class="order-title mb-4">Your Order</h2>

                            <div class="table-responsive-sm order-table"> 
                                <table class="bg-white table table-bordered table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Product Name</th>
                                            <th>Price</th>
                                            <!-- <th></th> -->
                                            <th>Qty</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in cart.ecommercecartproduct_set.all %}
                                        <tr>
                                            <td class="text-left">{{p.product.item_name}}</td>
                                            <td>{{p.rate}}</td>
                                            <!-- <td>x</td> -->
                                            <td>{{p.quantity}}</td>
                                            <td>{{p.subtotal}}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                    <tfoot class="font-weight-600">
                                        
                                        <tr>
                                            <td colspan="3" class="text-right">Total</td>
                                            <td>{{cart.total}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        
                        <hr />

                       
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
{% endblock content %}
