{% extends 'web/webbase.html' %}
{% load static %}

{% block content %}

    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Contact Us</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
       
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.0042454200675!2d96.12366957338348!3d16.826145483968425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1956e70d0164d%3A0xb6da02a9fa24f2e7!2sBESTBUY%20In%20Rangoon!5e0!3m2!1smy!2smm!4v1705225572172!5m2!1smy!2smm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.7511006681641!2d96.12552276949081!3d16.82613768268726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c194cbf5f56b23%3A0xad1a28f10857a209!2zMSDhgJnhgJ_hgKzhgJjhgLHhgKzhgILhgJzhgJnhgLrhgLgsIOGAm-GAlOGAuuGAgOGAr-GAlOGAug!5e0!3m2!1smy!2smm!4v1704696823900!5m2!1smy!2smm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                	<div class="open-hours">
                    	<strong>Open Hours</strong><br>
						From 8:30 Am to 7:00 Pm. <br>
                        <p>No 8 Ground Floor Mahar Baw Ga St , Near Khaing Shwe War Bus Stop & Kyaung Bus Stop - Hledan Kamaywut </p>
                        <p>Hotline : 09950140916 / 09941844742.</p>
						
                    </div>
                	<hr />
                    
                    
                </div>
            	<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                	
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0&appId=1285528334938484" nonce="ZsfhFurx"></script>
                    <div class="fb-page" data-href="https://www.facebook.com/BESTBUY.Rangoon" data-tabs="timeline" data-width="800" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BESTBUY.Rangoon" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BESTBUY.Rangoon">𝐁𝐄𝐒𝐓𝐁𝐔𝐘 in Rangoon</a></blockquote></div>
                	
                </div>
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    

{% endblock content %}