{% extends 'web/webbase.html' %}
{% load static %}

{% block content %}

    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Best Seller Items in BESTBUY</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
       
        <div class="container">
            <div class="row">
                
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    

{% endblock content %}